@charset "UTF-8";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* === Import Bootstrap functions and variables === */
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// Variables
@import 'variables';

/* === SCSS Compass Functions === */
@import "../../node_modules/compass-mixins/lib/compass";
@import "../../node_modules/compass-mixins/lib/animate";

// MDIcons
@import "../../node_modules/@mdi/font/scss/materialdesignicons";

// SweetAlert2
@import "../../node_modules/sweetalert2/src/sweetalert2";

// DateRangePicker
@import "../../node_modules/daterangepicker/daterangepicker.css";

// Toastr
//import "../../node_modules/toastr/toastr";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* === Template mixins === */
@import "mixins/animation";
@import "mixins/background";
@import "mixins/blockqoute";
@import "mixins/badges";
@import "mixins/buttons";
@import "mixins/cards";
@import "mixins/misc";
@import "mixins/text";
/*-------------------------------------------------------------------*/

/* === Core Styles === */

@import "reset";
@import "fonts";
@import "functions";
@import "sidebar";
@import "navbar";
@import "typography";
@import "misc";
@import "footer";
@import "utilities";
@import "demo";
@import "dashboard";
@import "background";
/*-------------------------------------------------------------------*/

/* === Components === */

@import "components/badges";
@import "components/bootstrap-progress";
@import "components/buttons";
@import "components/cards";
@import "components/checkbox-radio";
@import "components/dropdown";
@import "components/forms";
@import "components/icons";
@import "components/lists";
@import "components/nav";
@import "components/new-account";
@import "components/preview";
@import "components/tables";
@import "components/loader";
@import "components/hover-tabs";
@import "components/site-image";
/*-------------------------------------------------------------------*/

/* === Landing screens === */

@import "landing-screens/auth";
@import "landing-screens/error";
