/* Station */

.menu-estacao {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.imagem-estacao {
    //background:green;
    height: 100%;
    //width: 50%;
    display: block;
    right: 0;
    position: absolute;
}