/* Tables */
.table {
  margin-bottom: 0;
  table-layout: fixed;

  thead {
    th {
      border-top: 0;
      border-bottom-width: 1px;
      font-family: $type-2;
      font-weight: 500;

      i {
        margin-left: 0.325rem;
      }
    }
  }

  td,
  th {
    vertical-align: middle;
    font-size: $default-font-size;
    line-height: 1;
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    // white-space: nowrap;

    img {
      @extend .img-xs;
      border-radius: 100%;
    }

    .badge {
      margin-bottom: 0;
    }

    .form-check,
    .form-radio {
      margin-top: 0;
      margin-bottom: -0px;
    }
  }

  &.table-borderless {
    border: none;

    td,
    th,
    tr {
      border: none;
    }
  }

  &.table-bordered {
    thead {
      border: 1px solid $border-color;
      border-bottom: none;
      tr {
        th {
          border-left: none;
          border-right: none;
        }
      }
    }

    tbody {
      tr {
        td {}
      }
    }
  }
}